.chat{
    flex: 2.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.chatInfo{
    display: flex;
    justify-content: space-between;
    background-color: var(--c1);
    align-items: center;
    height: 50px;
    padding-left: 10px;
    color: var(--cx);
    font-weight: bold;
    font-family: var(--fnt);
}

.chatIcons{
    padding: 15px;
    display: flex;
}
.chatIcons img{
    padding: 10px;
    height: 20px;
    width: 20px;
    object-fit: cover;
    transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);

}

.chatIcons :hover {
    transform: scale(1.3);
  }