.input{
    background-color:rgb(207, 197, 246);
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.input input{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 7px 15px;
    font-size: 15px;
    font-family: 'Segoe UI';
    width: 100%;

    &::placeholder{
        color: lightgrey;
    }
}

.send{
    max-width: 150px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.send img{
    width:24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}

.send button{
    background-color: #7b96ec;
    border-radius: 20px;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
}

