.input{

    background-color:var(--c3);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
    padding: 5px;
    border-bottom-right-radius: 30px;

    padding-left: 15px;
    padding-right: 15px;
    background: radial-gradient(var(--c4) 15%, transparent 16%) 0 0,
    radial-gradient(var(--c4) 15%, transparent 16%) 8px 8px;
    background-color: var(--c3);
    background-size: 10px 10px; 
}

.input input{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: var(--c4);
    padding: 7px 15px;
    font-size: 15px;
    font-family: var(--fnt);
    width: 100%;
    color: var(--c0);
    transition: transform 0.1s cubic-bezier(0.5, 0.1, 0.5, 1);

    &::placeholder{
        color: var(--lgr);
    }

    &:hover{
        transform: scale(1.02);
    }

}

.send{
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.send img{
    width:24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
    &:hover{
        transform: scale(1.2);
    }
}

.send button{
    background-color: var(--c0);
    border-radius: 20px;
    color: var(--c4);
    padding: 10px 15px;
    font-weight: bold;
    border: 1px solid var(--c1);
    cursor: pointer;
    transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);

    &:hover{
        transform: scale(1.2);
    }
    
}

/* .input :hover {
    transform: scale(1.1);
  } */

