.message{
    display: flex;
    padding: 10px;
    gap: 15px;



    &.owner{
        flex-direction: row-reverse;
        &.owner p{
            background-color: rgb(107, 84, 153);
            color: aliceblue;
            border-radius: 25px;
            border-top-right-radius: 0px;
            padding: 10px 20px;
        }

        &.owner .messageData{
            display: flex;
            align-items:end;
        }

        &.owner .messageData img{
            
            max-width: 50%;
            border-radius: 25px;

        }

    }
}

.messageInfo{
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: grey;
}

.messageInfo img{
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.messageData{
    max-width: 80%;
    overflow-wrap: break-word;
    display:flex;
    flex-direction: column;
    gap: 10px;
    display: flex;

}
.message p{
    background-color: white;
    font-family: 'Segoe UI';
    border-radius: 25px;
    border-top-left-radius: 0px;
    padding: 10px 20px;

}
.messageData img{
    max-width: 50%;
    border-radius: 25px;
}

