.messages{
    height: 100%;
    overflow-y: scroll;
    background: radial-gradient(var(--c2) 15%, transparent 16%) 0 0,
    radial-gradient(var(--c2) 15%, transparent 16%) 20px 20px;
    background-color: var(--c3);
    background-size: 20px 20px;

}

.messages::-webkit-scrollbar{
    width: 7px;
    
}

::-webkit-scrollbar-thumb {
    background: var(--c0);
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--c1);
  }