.navbar{
    background-color: var(--cx);
    display:flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin: 5px;
    
  }
  
  .logo1 {
      font-family: var(--fnt);
      color: var(--c4);
      font-weight: bold;
      font-size: 15px;
      padding: 10px;
  
    }
  
  .user{
    font-family: var(--fnt);
    color: var(--c3);
    font-weight: bold;
    display: flex;
    justify-content:end;
    padding: 10px;
    align-items: center;
  }
  
  .usernav{
    padding:10px;
    font-size: 12px;  
  }
  
  .navbar button {
    background-color: var(--c0);
    border: none;
    border-radius: 20px;
    color: var(--c3);
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.1s cubic-bezier(0.5, 0.1, 0.5, 1);

    &:hover {
      transform: scale(1.2);
    }

    }
    .navbar img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--cx);

    transition: transform 0.1s cubic-bezier(0.5, 0.1, 0.5, 1);

    &:hover {
      transform: scale(5);
    }
  }

 