
.navbar{
    background-color:#2c2b44;
    display:flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .logo1 {
      font-family: sans-serif;
      color: #bcbcbd;
      font-weight: bold;
      font-size: 15px;
      padding: 10px;
  
    }
  
  .user{
    font-family: sans-serif;
    color: #73737d;
    font-weight: bold;
    display: flex;
    justify-content:end;
    padding: 10px;
    align-items: center;
  }
  
  .usernav{
    padding:10px;
    font-size: 12px;  
  }
  
  .navbar button {
    background-color: #5f6887;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;

      /* border: none;
      border-radius: 10px;
      cursor: pointer;
      height: 20px;
      width: 50px; */
    }
  
    .navbar img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;

  }
  