.search{

    border: none;
    border-bottom: 1px solid #7c78ae;
}

.search span{
    font-family:'Segoe UI';
    color: rgb(187, 150, 165);
    font-size: x-small;
    padding: 10px;
}

.searchForm input{
    
    background-color: #4b4972;
    border-color: transparent;

    padding: 5px 10px;
    width: 100%;
    color: white;

    &::placeholder{
        color: rgba(255, 255, 255, 0.255);
    
    }

}

.userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI';

    &:hover{
        background-color: #32304b;
    }

}

.userChat p{

    font-size: 10px;
    color: lightgrey;
    margin: 0px;
    padding: 0px;

}

.userChat span{
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.userChat img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}