.search{
    border: none;
    border-bottom: 1px solid var(--cx);
}

.search span{
    font-family:var(--fnt);
    color: rgb(187, 150, 165);
    font-size: x-small;
    padding: 10px;
}

.searchForm{
    display: flex;
    justify-items: center;
    align-items: center;
}

.searchForm input{
    color: var(--c3);
    outline: transparent;
    background-color: var(--c0);
    border-color: transparent;
    width: 100%;
    padding: 5px 10px;
    &::placeholder{
        color: var(--lgr);
        font: var(--fnt);
    }
}

.userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: var(--fnt);
    transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    
    &:hover{
        transform: translateX(20px);
        background-color: var(--cx);
    }

}


/* @keyframes logoAnimation {
    0% {
        
        transform: scale(1);
        transform: translateX(20px);
        
    }
    100% {
      
      transform: scale(1.5);
      transform: translateX(20px); 
    }
  } */



.userChat p{

    font-size: 12px;
    color:var(--lgr);
    margin: 0px;
    padding: 0px;

}

.userChat span{
    color: var(--wt);
    font-weight: 400;
    font-size: 14px;
}

.userChat img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--c1);
}